.dashNav a {
  text-decoration: none;
  font-size: 18px;
  margin: 0;
  padding: 6px 24px;
  color: #fafafa;
  cursor: pointer;
  transition: 0.3s;
}
.dashNav a:hover {
  color: rgb(243, 109, 109);
  background-color: #333;
}
